.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    align-items: center;
    margin-left: 15px;
    height: 340px;

    &_divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }

    &_text {
        height: 150px;
        width: 25px;

        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }

    &_link {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
}