.work {
    padding-bottom: 120px;
    &_subtitle {
        text-align: center;
        position: relative;
        @include before_circle;
        &::before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_title {
        text-align: center;
        margin-top: 8px;
    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        column-gap: 13px;
        row-gap: 13px;
        margin-top: 60px;
    }
    &_block {
        width: 270px;
        height: 270px;
        border: 1px solid #000000;
    }
    &_content {
        padding: 30px 30px 25px 30px;
    }
    &_name {
        margin-top: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &_descr {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    &_rating {
        padding-top: 128px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        column-gap: 45px;
        row-gap: 30px;
        &_descr {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_title {
            position: relative;
            padding-left: 14px;
            @include before_circle;
            &::before {
                top: 10px;
                left: 2px;
            }
        }
        &_main {
            width: 100%;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            margin-top: 20px;   
            z-index: -1;
        }
        span {
            display: block;
            height: 14px;
            background: $main-color;
            border-radius: 4px;
            z-index: 1;
        }
    }
}